*{
	padding: 0px;
	margin: 0px;
	outline: none;
}

.row {
    width: auto;
    height: 10px;
}

#bw, #gray, #color{
	float: left;
	margin: 10px;
}

#buttons{
	width: 500px;
}

.cell{
	height: 25px;
	width: 25px;
	display: inline-block;
    float: left;
}

#invertButton, #reloadButton{
	outline: none;
	margin: 5px;
	padding: 10px;
	background: #fff;
	color: #000;
}